		<!-- Sidebar -->
		<div class="sidebar sidebar-style-2" data-background-color="dark2">	
			<div class="sidebar-wrapper scrollbar scrollbar-inner">
				<div class="sidebar-content">

				{% if request.user.is_authenticated %}	
					<div class="user">
						<div class="avatar-sm float-left mr-2">
							<img src="/static/assets/img/profile.jpg" alt="..." class="avatar-img rounded-circle">
						</div>
						<div class="info">
							<a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
								<span>
									{{ request.user.username }}
									<span class="user-level">
										{{ request.user.email }}
									</span>
									<span class="caret"></span>
								</span>
							</a>
							<div class="clearfix"></div>

							<div class="collapse in" id="collapseExample">
								<ul class="nav">
									<li>
										<a href="{% url 'app:usuario_detalle' request.user.id %} ">
											<span class="link-collapse">Mi perfil</span>
										</a>
									</li>
									<li>
										<a href="{% url 'logout' %}">
											<span class="link-collapse">Cerrar sesión</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<!-- Opciones para pagina Incidencias -->
						{% if request.path == '/incidencias.html' %}
						<div class="filters-estado mt-4">
							<h6>Filtrar por estado</h6>
							<ul class="nav">
								<li class="nav-item">
									<a href="#">Todo</a>
								</li>
								<li class="nav-item">
									<a href="#">Abierto</a>
								</li>
								<li class="nav-item">
									<a href="#">Cerrado</a>
								</li>
								<li class="nav-item">
									<a href="#">Resuelto</a>
								</li>
							</ul>
						</div>
						{% endif %}
					</div>
					<ul class="nav nav-primary">

					</ul>
				{% endif %}	
				</div>
			</div>
		</div>
        <!-- End Sidebar -->
        