{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
			
	<div class="content">
		<div class="page-inner mt--5">
            <div class="page-header mt-5">
                <h4 class="page-title">Equipos</h4>
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="#">
                            <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="#">Equipos</a>
					</li>
					
					{% if messages %}
						{% for message in messages %}
							<li class="text-{{message.tags}} ml-4" style="font-size:2rem!important; "><h5>{{message}}</h5></li>
						{% endfor %}
					{% endif %}

    
                </ul>
            </div>
            <div class="row mt-4">
                <div class="col-md-12">
                    <div class="card">
						<div class="card-header">
							<div class="d-flex align-items-center">
								<h4 class="card-title">Lista de Equipos</h4>
								<button class="btn btn-primary btn-round ml-auto" data-toggle="modal" data-target="#addRowModal">
									<i class="fa fa-plus"></i>
									Nuevo
								</button>
							</div>
						</div>
						<div class="card-body">
		<!--------------- Modal para crear una incidencia  ---------------->
							<div class="modal fade" id="addRowModal" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
								<div class="modal-dialog" role="document">
									<div class="modal-content" style="background-color:#202940;">
										<div class="modal-header no-bd">
											<h5 class="modal-title">
												<span class="text-white font-weight-bold">
												Crear equipo
												</span> 
											</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">×</span>
											</button>
										</div>
										<div class="modal-body">
											<p class="small text-white mb-5">Crea un equipo llenando los datos del formulario</p>
											<form method="post">
												{%csrf_token%}
												<div class="row">
													<div class="col-sm-12 ">
														<div class="form-group form-group-default">
															<label>nombre</label>
															<input id="nombre" type="text" name="nombre" class="form-control" placeholder="Introduce el nombre del equipo">
														</div>
                                                    </div>

                                                   <div class="col-md-12">
														<div class="form-group form-group-default ">
															<label>Descripción</label>
															<input id="descripcion" name="descripcion" type="textarea" aria-rowspan="5" class="form-control" placeholder="Describe en que consiste, las funciones y el alcance del equipo">
														</div>
													</div>
                                                </div>
                                                <div class="row mt-3">
													<div class="col-sm-4">
														<div class="form-group p-0">                 
															<div class="input-group">
																<select class="form-control btn btn-primary dropdown-toggle" id="grado" name="grado">
																	<option class="dropdown-item" selected="selected" disabled>Miembros</option>
																</select>
															</div>
														</div>
													</div>										
                                                </div> 
										
										</div>
										<div class="modal-footer no-bd">
											<button type="submit" id="addIncidencia" class="btn btn-primary">Crear</button>
											<button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
										</div>
										</form>
									</div>
								</div>
							</div>
				<!-- LISTA DE INCIDENCIAS -->
							<div class=" table-responsive table-hover">
								<div id="add-row_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4"><div class="row"><div class="col-sm-12 col-md-6"><div class="dataTables_length" id="add-row_length"><label>Mostrar <select name="add-row_length" aria-controls="add-row" class="form-control form-control-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> elementos</label></div></div><div class="col-sm-12 col-md-6"><div id="add-row_filter" class="dataTables_filter"><label>Buscar:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="add-row"></label></div></div></div><div class="row"><div class="col-sm-12"><table id="add-row" class="display table table-striped table-hover dataTable" role="grid" aria-describedby="add-row_info">
									<thead>
										<tr role="row"><th class="sorting_asc" tabindex="0" aria-controls="add-row" rowspan="1" colspan="1" style="width:8%;" aria-label="Name: activate to sort column descending" aria-sort="ascending">Grado</th><th class="sorting" tabindex="0" aria-controls="add-row" rowspan="1" colspan="1" style="width:60%;" aria-label="Posicion: activate to sort column ascending">Posición</th><th style="width:30%" class="sorting" tabindex="0" aria-controls="add-row" rowspan="1" colspan="1" aria-label="Action: activate to sort column ascending">Acciones</th></tr>
									</thead>
									<tbody>	
										{% for equipo in lista_equipos%}
											<tr role="row">
												<td class="sorting_1">
													<div class="mb-3">
														<small>ID: <span>{{equipo.id}}</span></small> 
													</div>
			
                                                </td>
                                                <td>
                                                    <p>{{equipo.nombre}} </p>
                                                </td>
												<td>
													<div class="form-button-action pt-3">
														<a href="{% url 'app:equipo_detalle' equipo.id %} " type="button" data-toggle="tooltip" title="" class="btn  btn-primary btn-sm" data-original-title="Ver equipo">
															<i class="far fa-eye"></i>
														</a>
													</div>
													<div class="mt-2">
                                                        <p>Total horas trabajo: <small>{{equipo.horasTrabajo}} </small> </p>
														
													</div>
												</td>
										</tr>
										{% endfor %}
                                    </tbody>
                                </table></div></div>
                                <div class="row mt-3">
                                    <div class="col-sm-12 col-md-5">
                                        <div class="dataTables_info" id="add-row_info" role="status" aria-live="polite">Mostrando 1 - 5 de 20 elementos</div>
                                    </div>
                                    <div class="col-sm-12 col-md-7">
                                        <div class="dataTables_paginate paging_simple_numbers" id="add-row_paginate">
                                            <ul class="pagination">
                                                <li class="paginate_button page-item previous disabled" id="add-row_previous">
                                                    <a href="#" aria-controls="add-row" data-dt-idx="0" tabindex="0" class="page-link">Anterior</a>
                                                </li>
                                                <li class="paginate_button page-item active"><a href="#" aria-controls="add-row" data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
                                                <li class="paginate_button page-item "><a href="#" aria-controls="add-row" data-dt-idx="2" tabindex="0" class="page-link">2</a></li>
                                                <li class="paginate_button page-item "><a href="#" aria-controls="add-row" data-dt-idx="3" tabindex="0" class="page-link">3</a></li>
                                                <li class="paginate_button page-item next" id="add-row_next"><a href="#" aria-controls="add-row" data-dt-idx="4" tabindex="0" class="page-link">Siguiente</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
							</div>
						</div>
					</div>
                </div>
            </div>
		</div>
	</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

	<!-- Atlantis DEMO methods, don't include it in your project! -->
<!--<script src="/static/assets/js/setting-demo.js"></script> -->
<!--<script src="/static/assets/js/demo.js"></script> -->
<script src="/static/assets/js/setting-demo2.js"></script>
	<script>
		Circles.create({
			id:'circles-1',
			radius:45,
			value:60,
			maxValue:100,
			width:7,
			text: 5,
			colors:['#f1f1f1', '#FF9E27'],
			duration:400,
			wrpClass:'circles-wrp',
			textClass:'circles-text',
			styleWrapper:true,
			styleText:true
		})

		Circles.create({
			id:'circles-2',
			radius:45,
			value:70,
			maxValue:100,
			width:7,
			text: 36,
			colors:['#f1f1f1', '#2BB930'],
			duration:400,
			wrpClass:'circles-wrp',
			textClass:'circles-text',
			styleWrapper:true,
			styleText:true
		})

		Circles.create({
			id:'circles-3',
			radius:45,
			value:40,
			maxValue:100,
			width:7,
			text: 12,
			colors:['#f1f1f1', '#F25961'],
			duration:400,
			wrpClass:'circles-wrp',
			textClass:'circles-text',
			styleWrapper:true,
			styleText:true
		})

		Circles.create({
			id:'circles-4',
			radius:45,
			value:70,
			maxValue:100,
			width:7,
			text: 20,
			colors:['#f1f1f1', '#2BB930'],
			duration:400,
			wrpClass:'circles-wrp',
			textClass:'circles-text',
			styleWrapper:true,
			styleText:true
		})


		$('#lineChart').sparkline([105,103,123,100,95,105,115], {
			type: 'line',
			height: '70',
			width: '100%',
			lineWidth: '2',
			lineColor: '#ffa534',
			fillColor: 'rgba(255, 165, 52, .14)'
		});

	//CODIGO PROPIO PARA GRAFICAS

		var lineChart = document.getElementById('lineChart').getContext('2d'),
		//barChart = document.getElementById('barChart').getContext('2d'),
		pieChart = document.getElementById('pieChart').getContext('2d');

		var myLineChart = new Chart(lineChart, {
			type: 'line',
			data: {
				labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
				datasets: [{
					label: "Active Users",
					borderColor: "#1d7af3",
					pointBorderColor: "#FFF",
					pointBackgroundColor: "#1d7af3",
					pointBorderWidth: 2,
					pointHoverRadius: 4,
					pointHoverBorderWidth: 1,
					pointRadius: 4,
					backgroundColor: 'transparent',
					fill: true,
					borderWidth: 2,
					data: [542, 480, 430, 550, 530, 453, 380, 434, 568, 610, 700, 900]
				}]
			},
			options : {
				responsive: true, 
				maintainAspectRatio: false,
				legend: {
					position: 'bottom',
					labels : {
						padding: 10,
						fontColor: '#1d7af3',
					}
				},
				tooltips: {
					bodySpacing: 4,
					mode:"nearest",
					intersect: 0,
					position:"nearest",
					xPadding:10,
					yPadding:10,
					caretPadding:10
				},
				layout:{
					padding:{left:15,right:15,top:15,bottom:15}
				}
			}
		});
		var myPieChart = new Chart(pieChart, {
			type: 'pie',
			data: {
				datasets: [{
					data: [50, 35, 15],
					backgroundColor :["#1d7af3","#f3545d","#fdaf4b"],
					borderWidth: 0
				}],
				labels: ['New Visitors', 'Subscribers', 'Active Users'] 
			},
			options : {
				responsive: true, 
				maintainAspectRatio: false,
				legend: {
					position : 'bottom',
					labels : {
						fontColor: 'rgb(154, 154, 154)',
						fontSize: 11,
						usePointStyle : true,
						padding: 20
					}
				},
				pieceLabel: {
					render: 'percentage',
					fontColor: 'white',
					fontSize: 14,
				},
				tooltips: false,
				layout: {
					padding: {
						left: 20,
						right: 20,
						top: 20,
						bottom: 20
					}
				}
			}
		})

	</script>

{% endblock javascripts %}
