{% extends "layouts/base.html" %}

{% block title %} {{incidencia.titulo}} {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
			
	<div class="content">
		<div class="page-inner mt-3">
		<form method="post">
			{% csrf_token %}
            <div class="page-header mb-0">
                <h4 class="p-3">ID: {{incidencia.id}}</h4>
            </div>
            <div class="page-header ">
				<div class="form-group p-0 mt-4 mb-3">  
					<div class="row">
						<div class="col-sm-6 col-md-8">
						{% if isResponsable or request.user.is_staff or request.user.id == incidencia.autor.id %}
							<div class="input-group">
								<select class="form-control btn 

								{% if incidencia.grado == 'P1' %} bg-danger 
								{% elif  incidencia.grado == 'P2'  %} bg-warning
								{% elif  incidencia.grado == 'P3'  %} bg-info
								{% elif  incidencia.grado == 'P4'  %} bg-secondary
								{% elif  incidencia.grado == 'P5'  %} bg-success
								{% endif %}

								dropdown-toggle mr-2" id="grado" name="grado">
									<option class="dropdown-item" value="{{incidencia.grado}}">{{incidencia.grado}}</option>
									{% for key, value in grado %}
										{% if key != incidencia.grado %}
											<option class="dropdown-item" value="{{key}}" >{{key}} - {{value}}</option>
										{% endif %}
									{% endfor %}
								</select>
							</div>
						{% else %}
						<label class="colorinput">
							<input name="color"  value="primary" data-toggle="tooltip" data-original-title="{{incidencia.get_grado_display}} " class="colorinput-input">
							<span class="stamp stamp-md	mr-3
								{% if incidencia.grado == 'P1' %} bg-danger 
								{% elif  incidencia.grado == 'P2'  %} bg-warning
								{% elif  incidencia.grado == 'P3'  %} bg-info
								{% elif  incidencia.grado == 'P4'  %} bg-secondary
								{% elif  incidencia.grado == 'P5'  %} bg-success
								{% endif %}
							">
								{{incidencia.grado}}
							</span>
						</label>
						{% endif %}
						</div>   
					</div>            
				</div>
                <div class="d-flex flex-column ">
                    <small class="p-2">{{incidencia.fechaCreacion}}</small>
					<div class="form-group form-floating-label mb-3">
						{% if isResponsable or request.user.is_staff or request.user.id == incidencia.autor.id %}
						<input id="inputFloatingLabel" type="text" class="form-control input-border-bottom" style="font-size:1.8rem;" required="" value="{{incidencia.titulo}}" name="nombre" id="nombre">
						<label for="inputFloatingLabel" class="placeholder"></label>
						{% else %}
							<h2 class="text-white">{{incidencia.titulo}} </h2>
						{% endif %}
					</div>
                </div>
                <div class="w-50 d-flex flex-row-reverse">
					{% if isResponsable or request.user.is_staff or request.user.id == incidencia.autor.id%}
					<div class="form-group p-0">                 
						<div class="input-group">
							<select class="form-control btn btn-primary dropdown-toggle" id="estado" name="estado">
								<option class="dropdown-item" value="{{incidencia.estado}}">{{incidencia.estado|capfirst}} </option>
							{% with incidencia.ESTADO_CHOICES  as choices%}
								{% for key, value in choices %}
									{% if key != incidencia.estado %}
									<option class="dropdown-item" value="{{key}}">{{value}}</option>
									{% endif %}
								{% endfor %}
							{% endwith %}												
							</select>
						</div>
					</div>
					{% else %}
					<label class="colorinput">
						<input name="color"  value="primary" data-toggle="tooltip" data-original-title="{{incidencia.estado}} " class="colorinput-input bg-primary">
						<span class="stamp stamp-md	mr-3 tex-white ">
							{{incidencia.estado|capfirst}}
						</span>
					</label>
					{% endif %}
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-12">
                    <div class="card">
						<div class="card-header">
							<div class="d-flex align-items-center">
								<h4 class="card-title"> Detalles de la incidencia </h4>
								{% if messages %}
									{% for message in messages %}
										<li class="{% if message.tags == 'error' %} text-danger {% else %} text-success {% endif %}  ml-4" style="font-size:2rem!important; "><h5>{{message}}</h5></li>
									{% endfor %}
								{% endif %}
		
							</div>
						</div>
						<div class="card-body">
							<div class="row mb-4">
                                <div class="col-md-2">
                                    <p>Autor</p>
                                </div>
								<div class="col-sm-4 col-lg-2 mb-3">
									<a href="{% url 'app:usuario_detalle' incidencia.autor.id %} " style="font-size:1rem;" >{{incidencia.autor}}</a>
								</div>
							</div>
                            <div class="row mb-4">
                                <div class="col-md-2">
                                    <p>Responsable</p>
                                </div>
                                <div class="col-sm-4 col-lg-2 mb-3">
									<a href="{% url 'app:usuario_detalle' incidencia.responsables.id %} " style="font-size:1rem;" >{{incidencia.responsables}}</a>
								</div>
								{% if isResponsable or request.user.is_staff or request.user.id == incidencia.autor.id %}
								<div class="col-sm-6 col-lg-3">
									<div class="form-group p-0 w-auto">                 
										<div class="input-group">
											<select class="form-control btn btn-primary dropdown-toggle" id="responsables" name="responsables">
												<option class="dropdown-item"  value="{{incidencia.responsables.id}}">Cambiar responsables </option>
												{% for miembro in responsables %}
													<option class="dropdown-item" value="{{miembro.id}}" >{{miembro.username}} </option>
												{% endfor %}
											</select>
										</div>
									</div>
								</div>
								{% endif %}
                            </div>
                            <div class="row mt-2 mb-4">
                                <div class="col-md-2">
                                    <p>Equipo</p>
                                </div>
                                <div class="col-sm-4 col-lg-2 mb-3">
									<a href="{% url 'app:equipo_detalle' incidencia.equipo.id %} " style="font-size:1rem;">{{incidencia.equipo.nombre}}</a>
								</div>
								{% if isResponsable or request.user.is_staff or request.user.id == incidencia.autor.id %}
								<div class="col-sm-6 col-lg-3">
									<div class="form-group p-0 w-auto">                 
										<div class="input-group">
											<select class="form-control btn btn-primary dropdown-toggle" id="equipo" name="equipo">
												<option class="dropdown-item" value="{{incidencia.equipo.id}}">Cambiar equipo</option>
												{% for equipo in equipos %}
													<option class="dropdown-item" value="{{equipo.id}}" >{{equipo.nombre}} </option>
												{% endfor %}
											</select>
										</div>
									</div>
								</div>
								{% endif %}
                            </div>
                            <div class="row mt-3 mb-4">
                                <div class="col-md-2">
                                    <p>Última actualización</p>
                                </div>
                                <div class="col-md-8">
                                    <p  style="font-size:1rem; color: aliceblue;">{{incidencia.fechaModificacion}}</p>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-2">
                                    <p>Descripción</p>
                                </div>
								{% if isResponsable or request.user.is_staff or request.user.id == incidencia.autor.id %}
                                <div class="col-md-8">
									<div class="form-group form-floating-label  pl-md-0">
										<textarea type="textarea" class="form-control" id="descripcion" name="descripcion" required rows="5">{{incidencia.descripcion}}</textarea>
									</div>
                                </div>
								{% else %}
								<div class="col-md-8">
									<p style="font-size:1rem; color: aliceblue;">{{incidencia.descripcion}}</p>
                                </div>
								{% endif %}
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-2">
                                    <p>Grado</p>
                                </div>
                                <div class="col-md-8">
									<p style="font-size:1rem; color: aliceblue;">{{incidencia.grado}} - {{incidencia.get_grado_display}}</p>
                                </div>
							</div>
							<div class="row mt-2">
								<div class="col-md-2">
									<p> Tipo</p>
								</div>
								<div class="col-sm-4 col-lg-2 pr-1">
									<p  style="font-size:1rem; color: aliceblue;">{{incidencia.tipo|capfirst}} </p>
								</div>
								{% if isResponsable or request.user.is_staff or request.user.id == incidencia.autor.id %}
								<div class="col-sm-6 col-lg-3">
									<div class="form-group p-0">                 
										<div class="input-group">
											<select class="form-control btn btn-primary dropdown-toggle" id="tipo" name="tipo">
												<option class="dropdown-item" value="{{incidencia.tipo}}">Cambiar tipo</option>
												{% for key, value in incidencia.TIPO_REQUEST  %}
													{% if key != incidencia.tipo %}
														<option class="dropdown-item" value="{{key}}" >{{value}} </option>	
													{% endif %}
												{% endfor %}										
											</select>
										</div>
									</div>
								</div>
								{% endif %}
							</div>
							<div class="row mt-2">
								<div class="col-md-2">
									<p>Horas estimadas</p>
								</div>
								{% if isResponsable or request.user.is_staff or request.user.id == incidencia.autor.id %}
								<div class="col-sm-6 col-lg-3">
									<div class="form-group p-0">                 
										<div class="input-group">
											<input type="number" class="form-control input-border-bottom" style="font-size:1rem;" required value="{{incidencia.horasEstimadas}}" name="horas" id="horas" step="1.00" min="0">
										</div>
									</div>
								</div>
								{% else %}
								<div class="col-sm-4 col-lg-2 pr-1">
									<p style="font-size:1rem; color: aliceblue;">{{incidencia.horasEstimadas}} </p>
								</div>
								{% endif %}
							</div>
							{% if isResponsable or request.user.is_staff  or request.user.id == incidencia.autor.id%}
							<div class="row mt-5 mb-5">
								<div class="col-12">
									<button class="btn btn-success" type="submit">Actualizar datos</button>
								</div>
							</div>
							{% endif %}
						
						</div>
					</div>
                </div>
			</div>
		</form>	
		</div>
	</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

	<!-- Atlantis DEMO methods, don't include it in your project! -->
<!--<script src="/static/assets/js/setting-demo.js"></script> -->
<!--<script src="/static/assets/js/demo.js"></script> -->

{% endblock javascripts %}
