{% extends "layouts/base.html" %}

{% block title %} Incidencias {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
			
	<div class="content">
		<div class="page-inner mt--5">
            <div class="page-header mt-5">
                <h4 class="page-title">Incidencias</h4>
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="#">
                            <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="#">Incidencias</a>
					</li>
					
					{% if messages %}
						{% for message in messages %}
							<li class="{% if message.tags == 'error' %} text-danger {% else %} text-success {% endif %}  ml-4" style="font-size:2rem!important; "><h5>{{message}}</h5></li>
						{% endfor %}
					{% endif %}

    
                </ul>
            </div>
            <div class="row mt-4">
                <div class="col-md-12">
                    <div class="card">
						<div class="card-header">
							<div class="d-flex align-items-center">
								<h4 class="card-title">Lista de Incidencias</h4>
								<button class="btn btn-primary btn-round ml-auto" data-toggle="modal" data-target="#addRowModal">
									<i class="fa fa-plus"></i>
									Crear
								</button>
							</div>
						</div>
						<div class="card-body">
		<!--------------- Modal para crear una incidencia  ---------------->
							<div class="modal fade" id="addRowModal" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header no-bd">
											<h5 class="modal-title">
												<span class="fw-mediumbold">
												Crear</span> 
												<span class="fw-light">
													Incidencia
												</span>
											</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">×</span>
											</button>
										</div>
										<div class="modal-body">
											<p class="small">Genera una incidencia nueva llenando los datos del formulario</p>
											<form method="post">
												{%csrf_token%}
												<div class="row">
													<div class="col-sm-9 pr-0">
														<div class="form-group form-group-default">
															<label> Título</label>
															<input id="nombre" type="text" name="nombre" class="form-control" placeholder="Introduce el titulo de la incidencia" required>
														</div>
                                                    </div>
                                                    <div class="col-sm-3">
														<div class="form-group p-0">                 
                                                            <div class="input-group">
																<select class="form-control btn btn-primary dropdown-toggle" id="grado" name="grado" required>
																	<option class="dropdown-item" selected="selected" disabled>Grado</option>
																	<option class="dropdown-item" value="P1" >P1 - Crítico</option>
																	<option class="dropdown-item" value="P2">P2 - Alto</option>
																	<option class="dropdown-item" value="P3">P3 - Moderado</option>
																	<option class="dropdown-item" value="P4">P4 - Bajo</option>
																	<option class="dropdown-item" value="P5">P5 - Informativo</option>
																</select>
                                                            </div>
														</div>
                                                    </div>
                                                   <div class="col-md-12">
														<div class="form-group form-group-default ">
															<label>Descripción</label>
															<input id="descripcion" name="descripcion" type="textarea" aria-rowspan="5" class="form-control" placeholder="Describe cual es y como se genero el bug/incidencia" required>
														</div>
													</div>
													<div class="col-md-4 pr-1">
														<div class="form-group p-0">                 
                                                            <div class="input-group">
																<select class="form-control btn btn-primary dropdown-toggle" id="equipo" name="equipo" required>
																	<option class="dropdown-item" selected="selected" disabled>Equipo</option>
																	{% for equipo in equipos %}
																		<option class="dropdown-item" value="{{equipo.id}}" >{{equipo.nombre}}</option>
																	{% endfor %}
																</select>
                                                            </div>
														</div>
													</div>
                                                    <div class="col-md-4 pr-1">
														<div class="form-group p-0">                 
                                                            <div class="input-group">
																<select class="form-control btn btn-primary dropdown-toggle" id="tipo" name="tipo" required>
																	<option class="dropdown-item" selected="selected" disabled>Tipo</option>
																	<option class="dropdown-item" value="incidencia" >Incidencia</option>
																	<option class="dropdown-item" value="mejora" >Mejora</option>												
																</select>
                                                            </div>
														</div>
                                                    </div>
                                                    <div class="col-md-4">
														<div class="form-group p-0">                 
                                                            <div class="input-group">
																<select class="form-control btn btn-primary dropdown-toggle" id="responsables" name="responsables" required>
																	<option class="dropdown-item" selected="selected" disabled>Responsables</option>
																	{% for miembro in responsables %}
																		<option class="dropdown-item" value="{{miembro.id}}" >{{miembro.username}} </option>
																	{% endfor %}
																</select>
                                                            </div>
														</div>
													</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-6 mt-4">
                                                        <div class="form-group form-group-default">
															<label> Horas estimadas:</label>          
															<div class="input-group">
																<input type="number" class="form-control" style="font-size:1rem;" required name="horas" id="horas" step="1.00" min="0">
															</div>
														</div>
                                                    </div>
                                                </div> 
										
										</div>
										<div class="modal-footer no-bd">
											<button type="submit" id="addIncidencia" class="btn btn-primary">Crear</button>
											<button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
										</div>
										</form>
									</div>
								</div>
							</div>
				<!-- LISTA DE INCIDENCIAS -->
							{% include 'layouts/lista-incidencias.html' %}
						</div>
					</div>
                </div>
            </div>
		</div>
	</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

	<!-- Atlantis DEMO methods, don't include it in your project! -->
<!--<script src="/static/assets/js/setting-demo.js"></script> -->
<!--<script src="/static/assets/js/demo.js"></script> -->
<script src="/static/assets/js/setting-demo2.js"></script>

{% endblock javascripts %}
