{% if lista_incidentes %}
	<div class=" table-responsive table-hover">
		<div id="add-row_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4"><div class="row"><div class="col-sm-12 col-md-6"><div class="dataTables_length" id="add-row_length"><label>Mostrar <select name="add-row_length" aria-controls="add-row" class="form-control form-control-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> elementos</label></div></div><div class="col-sm-12 col-md-6"><div id="add-row_filter" class="dataTables_filter"><label>Buscar:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="add-row"></label></div></div></div><div class="row"><div class="col-sm-12"><table id="add-row" class="display table table-striped table-hover dataTable" role="grid" aria-describedby="add-row_info">
			<thead>
				<tr role="row"><th class="sorting_asc" tabindex="0" aria-controls="add-row" rowspan="1" colspan="1" style="width:8%;" aria-label="Name: activate to sort column descending" aria-sort="ascending">Grado</th><th class="sorting" tabindex="0" aria-controls="add-row" rowspan="1" colspan="1" style="width:60%;" aria-label="Titulo de la incidencia">Título</th><th style="width:30%" class="sorting" tabindex="0" aria-controls="add-row" rowspan="1" colspan="1" aria-label="Action: activate to sort column ascending">Acciones</th></tr>
			</thead>
			<tbody>	
				{% for incidencia in lista_incidentes%}
					<tr role="row">
						<td class="sorting_1">
							<div class="mb-3">
								<small>ID: <span>{{incidencia.id}}</span></small> 
							</div>
							<label class="colorinput">
								<input name="color"  value="primary" data-toggle="tooltip" data-original-title="Estado" class="colorinput-input">
								<span class="stamp stamp-md	mr-3
									{% if incidencia.grado == 'P1' %} bg-danger 
									{% elif  incidencia.grado == 'P2'  %} bg-warning
									{% elif  incidencia.grado == 'P3'  %} bg-info
									{% elif  incidencia.grado == 'P4'  %} bg-secondary
									{% elif  incidencia.grado == 'P5'  %} bg-success
									{% endif %}
								">
									{{incidencia.grado}}
								</span>
							</label>
						</td>
						<td>
							<p>{{incidencia.titulo}}</p>
							<p> <i class="fas fa-users"></i> <span> {{incidencia.equipo.nombre}}</span> </p>
						</td>
						<td>
							<div class="form-button-action pt-3">
								<label class="colorinput">
									<input name="color"  value="primary" data-toggle="tooltip" data-original-title="Estado" class="colorinput-input">
									<span class="stamp stamp-md mr-3" style="background-color:firebrick;">
										{{incidencia.estado|capfirst}}
									</span>
								</label>
								<a href="/incidencia/{{incidencia.id}}" type="button" data-toggle="tooltip" title="" class="btn  btn-primary btn-sm" data-original-title="Ver incidencia" style="font-size:1rem;">
									<i class="far fa-eye"></i>
								</a>
							</div>
							<div class="mt-2">
								<p><small>{{incidencia.fechaCreacion}} </small></p> 
							</div>
						</td>
				</tr>
				{% endfor %}
			</tbody>
		</table></div>
				<!-- PAGINACION -->
				{% include 'includes/paginacion.html' with page=lista_incidentes %}
	</div>

		
	</div>
{% else %}
	<p class="text-center" >Todavia no hay incidencias</p>
{% endif %}